body {text-align: center;
font-family: 'IBM Plex Sans', sans-serif;
background-color: #e3fdfd;}

h2 { font-family: 'Lobster Two', cursive;}
h3 {font-family: 'Antic Slab', serif;}

pre {font-family: 'Lobster Two' }
.icon{color: #28df99;}
